@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@500&display=swap");
body {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans SC", sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.hide {
  display: none;
}
.container {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  background-image: url("https://images.pexels.com/photos/207153/pexels-photo-207153.jpeg");
  background-repeat: no-repeat;
}

/* header */
/* left nav bar */
#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0000ff;
  position: relative;
}
.nav-bar {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 5px 0;
}
#icon {
  margin: 0 5px;
  background-color: steelblue;
  padding: 5px;
  border-radius: 5px;
}
#icon:hover,
#icon:hover input {
  background-color: rgba(0, 50, 100, 0.5);
}

li#icon.icon1 {
  font-size: 5px;
  padding: 5px 5px 2.5px 5px;
}
img {
  width: 20px;
}

.board-icon {
  position: relative;
  top: 2px;
}
#icon.icon3 {
  padding: 5px 7px;
}
span {
  padding-left: 10px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  top: -3px;
}
li#icon.icon4 {
  padding: 0;
  display: flex;
}
input {
  width: 100%;
  padding: 10px;
  background-color: steelblue;
  outline: none;
  border: none;
  border-radius: 5px;
}

input::placeholder {
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}
.search-icon {
  margin-right: 10px;
}
/* center nav bar */

.center-nav-bar {
  display: flex;
}
.center-nav-bar:hover .title {
  color: #fff;
}
.title {
  margin-left: 5px;
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: bold;
  color: darkgray;
}
/* right nav bar */
li#icon.icon5,
li#icon.icon7 {
  padding: 5px 7px;
}
li#icon.icon6,
li#icon.icon8 {
  padding: 6px 8px;
}

.info-icon,
.plus-icon,
.user-icon,
.notification-icon {
  position: relative;
  top: 2.05px;
}

/* board */

.section-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  margin: 5% auto;
}
.boards {
  display: flex;
  height: 100px;
  width: 150px;
  background-color: rgb(85, 35, 35);
  margin: 10px;
  border-radius: 10px;
}
#boards {
  display: flex;
  height: 50%;
  width: 100%;
  flex-wrap: wrap;
}
h1 {
  color: goldenrod;
  font-weight: bolder;
  font-size: 3em;
}

.boards a {
  width: 100%;
}
#board {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#submit {
  align-self: center;
  padding: 10px;
  background-color: blue;
  border-radius: 5px;
  text-align: center;
  width: 30%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}
#submit a {
  width: 100%;
}

/* create Board Pop up */
.popup {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 10rem;
  color: white;
  background-color: #4c4c4c;
  margin: auto;
  border-radius: 0.5rem;
}
.formDiv1 {
  width: 80%;
  margin: auto;
  margin-top: 0.8rem;
}
.formDiv1 label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
}
.formDiv2 {
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
  margin-top: 0.9rem;
}
.formDiv2 i {
  font-size: 1.7rem;
  margin-left: 1rem;
  color: rgb(218, 121, 121);
  cursor: pointer;
}
