@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@500&display=swap");
@media (min-width: 600px) {
  body {
    margin: 0;
    padding: 0;
  }
  * {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans SC", sans-serif;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
    color: #111;
  }
  h1 {
    padding-left: 10px;
    color: #333;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
  }
  .hide {
    display: none;
  }
  .container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .sections-container {
    background-image: url("https://cdn.pixabay.com/photo/2016/10/15/18/17/shaft-1743170_1280.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
  }
  /* header */
  /* left nav bar */
  #header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #555;
    position: relative;
  }
  .nav-bar {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 5px 0;
  }
  #icon {
    margin: 0 5px;
    background-color: gray;
    padding: 5px;
    border-radius: 5px;
  }
  #icon:hover,
  #icon:hover input {
    background-color: #666;
  }

  li#icon.icon1 {
    font-size: 5px;
    /* padding: 5px 5px 2.5px 5px; */
  }
  img {
    width: 20px;
  }

  .board-icon {
    position: relative;
    top: 2px;
  }
  #icon.icon3 {
    padding: 5px 7px;
  }
  span {
    padding-left: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: -3px;
  }
  li#icon.icon4 {
    padding: 0;
    display: flex;
  }
  input {
    width: 100%;
    padding: 10px;
    background-color: gray;
    outline: none;
    border: none;
    border-radius: 5px;
  }

  input::placeholder {
    color: #fff;
    font-weight: bold;
    font-size: 15px;
  }
  .search-icon {
    margin-right: 10px;
  }
  /* center nav bar */

  .center-nav-bar {
    display: flex;
  }
  .center-nav-bar:hover .title {
    color: #fff;
  }
  .title {
    margin-left: 5px;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    color: darkgray;
  }
  /* right nav bar */
  li#icon.icon5,
  li#icon.icon7 {
    padding: 5px 7px;
  }
  li#icon.icon6,
  li#icon.icon8 {
    padding: 6px 8px;
  }

  .info-icon,
  .plus-icon,
  .user-icon,
  .notification-icon {
    position: relative;
    top: 2.05px;
  }

  /* section */
  #section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  section li#icon {
    background-color: lightgray;
  }
  h1.data {
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  li#icon.icon9 {
    display: flex;
    justify-content: space-between;
    width: 80px;
    align-items: center;
    padding: 2.5px 0;
  }
  a#board-display {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    padding: 5px 5px;
  }
  li#icon.icon10 {
    background: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 230px;
    border-right: 1px solid lightgray;
    border-radius: 0;
  }
  .star-icon {
    padding: 5px;
    background-color: lightgray;
  }
  .star-icon:hover {
    background-color: #666;
  }
  li#icon.icon11 {
    background: none;
    text-align: start;
    padding: 10px 30px 15px 20px;
    border-right: 1px solid lightgray;
    border-radius: 0;
  }
  h1.data.data1 {
    font-size: 16px;
    color: #111;
    font-weight: bolder;
  }

  h1.data.data2 {
    color: #111;
  }
  li#icon.icon12,
  li#icon.icon14,
  li#icon.icon15 {
    display: flex;
    width: 160px;
    padding: 10px 0;
  }
  li#icon.icon12 a,
  li#icon.icon14 a,
  li#icon.icon15 a {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  li#icon.icon13 {
    padding: 10px;
  }
  li#icon.icon14 {
    width: 110px;
    padding-right: 10px;
    padding-left: 5px;
  }
  li#icon.icon15 {
    width: 120px;
    padding-right: 5px;
    padding-left: 5px;
  }
  /* board */

  #board {
    height: 880px;
    display: flex;
    justify-content: flex-start;
  }
  #list {
    width: 17%;
    height: max-content;
    background-color: lightgray;
    margin-left: 15px;
  }

  .list-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 15px 0px 15px;
  }
  .list-header-title {
    font-weight: bolder;
  }
  .card {
    margin: 10px;
    background-color: white;
  }
  .card .cover-img {
    width: 100%;
    margin-bottom: 10px;
  }
  .card-info {
    padding: 0 10px;
  }
  .card-info #label {
    width: 90px;
    background-color: orangered;
    opacity: 0.8;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 5px;
    padding: 2px 0px;
    font-size: 15px;
    color: #111;
  }
  .card-info #todo {
    font-size: 15px;
    margin-bottom: 10px;
    color: #333;
  }
  .card-info img {
    opacity: 0.5;
  }
  .card-icons {
    display: flex;
    width: 100%;
    justify-content: flex-start;
  }
  .card-icons.hide {
    display: none;
  }
  .card-icons #attachments,
  .card-icons #check-box {
    margin-left: 30px;
  }
  .card-icons span {
    color: #111;
    font-size: 15px;
    opacity: 0.5;
  }
  .add-card {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding-top: 10px;
  }
  .add-card-icons {
    display: flex;
  }
  .add-card .add-card-data {
    width: 100%;
    padding: 5px 0 0 10px;
  }
  .add-card-data span {
    text-align: center;
    font-size: 20px;
    color: #666;
    font-weight: lighter;
  }
  .add-card-icons .add-card-icon {
    margin-left: 10px;
    text-align: center;
  }
  .add-card-icon.icon1 {
    padding: 7.5px 7.5px 0 7.5px;
  }
  .add-card-icon.icon2 {
    padding: 7.5px 7.5px 0 7.5px;
  }
  .add-card-icon.icon1:hover,
  .add-card-icon.icon2:hover,
  .add-card-data:hover {
    background-color: gray;
  }
  .add-card-data:hover span {
    color: #333;
    font-weight: lighter;
  }
  /* list */
  .list-container {
    display: flex;
    width: 100%;
    position: fixed;
    overflow: auto;
    bottom: 0;
    top: 10rem;
    /* flex-wrap: wrap; */
  }
  .add-list {
    height: 100px;
    padding: 10px;
    margin-right: 10px;
  }
  .addCard {
    display: flex;
    background-color: #fff;
    outline: none;
    border: none;
  }

  /* create Board Pop up */
  .popup {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }

  form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 10rem;
    color: white;
    background-color: #4c4c4c;
    margin: auto;
    border-radius: 0.5rem;
  }
  .formDiv1 {
    width: 80%;
    margin: auto;
    margin-top: 0.8rem;
  }
  .formDiv1 label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
  }
  .formDiv2 {
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    margin-top: 0.9rem;
  }
  .formDiv2 i {
    font-size: 1.7rem;
    margin-left: 1rem;
    color: rgb(218, 121, 121);
    cursor: pointer;
  }

  .list {
    min-width: 19rem;
    height: fit-content;
    background-color: silver;
    /* background-color: rgb(103 45 45 / 35%); */
    /* color: rgb(151 151 183); */
    margin: 0 1rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .addList {
    min-width: 13rem;
    height: 4rem;
    background-color: rgb(42 110 34 / 70%);
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    margin: 0 2rem;
    cursor: pointer;
    padding-top: 0.8rem;
  }
  .list h3 {
    display: inline-block;
    width: 80%;
    min-height: 2rem;
    font-size: 1.3rem;
    margin-top: 0.8rem;
    margin-left: 0.8rem;
    font-weight: bold;
    color: white;
  }
  .deletelistIcon {
    display: inline;
    background-color: gray;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.3rem;
  }
  .deletelistIcon i {
    color: #111;
    font-size: 1.5rem;
  }
  .cardName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.8rem;
    min-height: 2.5rem;
    background-color: white;
    border-radius: 0.4rem;
    cursor: pointer;
    padding: 10px;
  }
  .cardName .cardDetails {
    display: flex;
    align-items: center;
  }
  .cardDetails .checkListDetails {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70px;
    margin-left: 70px;
  }
  .cardDetails .checkListDetails > div {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.5em;
    position: relative;
    top: -2px;
  }
  .cardDetails > .hide {
    display: none;
  }
  .cardName p {
    color: #666971;
    margin: unset;
  }

  .Title {
    /* display: none; */
    margin: 0.8rem;
    min-height: 2.5rem;
    background-color: #dfdbdb;
    /* border-bottom: 0.1rem solid gray; */
  }

  .Title > div {
    /* color: gray; */
    /* font-size: 2rem; */
    display: flex;
    align-items: center;
    margin: 0.8rem 0;
    /* padding-top: 0.2rem; */
  }
  .Title > div > i {
    font-size: 1.7rem;
    margin-left: 1rem;
    color: rgb(218, 121, 121);
  }
  .addCard,
  .addItem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.8rem;
    height: 2.5rem;
    background-color: #6d75a7;
    cursor: pointer;
    border-radius: 0.5rem;
    width: 50%;
  }
  .addCard > .plus,
  .addItem > .plus {
    font-size: 1rem;
    padding: 0 0.25rem;
    color: whitesmoke;
  }
  .addCard > p,
  .addItem > p {
    font-size: 1rem;
    margin: unset;
    padding: 0 0.25rem;
    color: whitesmoke;
    /* margin-bottom: none; */
  }
  .blackBackground {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    overflow-y: scroll;
  }

  .cardDiscription {
    display: flex;
    position: absolute;
    width: 60%;
    background-color: rgb(243, 243, 243);
    min-height: 30rem;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    padding: 0 10px;
    border-radius: 0.5rem;
    column-gap: 0.7rem;
  }
  .cardDiscriptionDiv1 {
    width: 60%;
    background-color: rgb(73 83 111 / 20%);
    margin: 10px 50px 10px 0;
    border-radius: 0.3rem;
  }
  .cardDiscriptionDiv2 {
    width: 30%;
  }
  .cardDiscription > div > aside {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #484949;
  }
  .cardDiscription > div > i {
    position: absolute;
    right: 0;
    padding-right: 1rem;
    cursor: pointer;
  }
  .cardDiscription > div > aside > div {
    margin-top: 2.5rem;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    cursor: pointer;
  }
  .cardDiscription > div > aside div:last-child {
    margin-bottom: 2.5rem;
  }
  .cardDiscription i {
    font-size: 1.5rem;
    color: rgb(92, 89, 89);
    padding-right: 1rem;
  }
  .cardDiscription .Title {
    margin: 0.8rem;
    min-height: 2.5rem;
    background-color: rgb(243, 243, 243);
  }
  .cardDiscriptionDiv1 > div {
    margin: 2rem 1rem;
  }

  .descriptionBox {
    width: 75%;
  }
  .add,
  .delete {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 3rem;
    height: 1.7rem;
    background-color: #333;
    text-align: center;
    cursor: pointer;
  }
  .cardDescriptionCheckLists > div {
    margin: 1rem 0;
    padding: 1rem 2rem;
    background-color: #666;
    border-radius: 1rem;
  }
  .addItem {
    color: white;
    background-color: lightcoral;
    height: 2rem;
    width: 9rem;
  }

  .cardDiscriptionDetails {
    display: flex;
  }

  .checklistName {
    display: flex;
  }

  .cardnamedisplay {
    font-size: 1.5rem;
    font-weight: bold;
    color: #484949;
  }
  .description {
    font-size: 1.2rem;
    font-weight: bold;
    color: #484949;
    width: 65%;
  }
  .delete {
    width: 4.5rem;
    height: 1.7rem;
  }
  .checklistname {
    font-size: 1.2rem;
    font-weight: bold;
    color: #484949;
    width: 65%;
  }
  .progressBar {
    /* display: flex; */
    margin-top: 2rem;
    width: 100%;
    /* margin: auto; */
  }
  .checkBox {
    margin: 0.8rem 0;
    display: flex;
  }
  .form-check-input {
    width: 10px;
  }
  .form-check-label {
    position: relative;
    top: -7px;
    margin-left: 5px;
  }
  .container-fliud {
    padding: 0 10px;
  }
}
